QUES 1

In [1]:
x=3
y=5
x,y = y,x
print(x)
print(y)

5
3

QUES 2

In [3]:
n=int(input())
if n%2 == 0:
    print("number is even!")
else:
    print("number is odd!")

45
number is odd!

QUES 3

In [4]:
n=int(input())
print(n**0.5)

144
12.0

QUES 4

In [8]:
a= int(input())
for i in range(1,a+1,1):
    print(i)
for j in range(a,0,-1):
    print(j)

5
1
2
3
4
5
5
4
3
2
1

QUES 5

In [10]:
r = float(input('radius  '))
print((4*3.14*r**3)/3 , ' cubic unit')

radius  5
523.3333333333334  cubic unit

QUES 6

In [19]:
print("even numbers",end=" \n")
for i in range(1,100):
    if i%2 == 0:
        
        print(i,end=" \n")
print("odd numbers",end= " \n")
for j in range(1,100):
    if j%2 != 0:
        
        print(j,end=" \n")

even numbers
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
odd numbers
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

QUES 7

In [20]:
a = int(input("enter a  "))
b = int(input("enter b  "))
c = int(input("enter c  "))
d = b**2-(4*a*c)
r1 = -b+(d**0.5)
r2 = -b-(d**0.5)
print("roots are \n",r1,r2)

enter a  2
enter b  5
enter c  4
roots are
 (-5+2.6457513110645907j) (-5-2.6457513110645907j)

QUES 8

In [56]:
n = int(input("enter the number "))
l=len(str(abs(n)))
print("%d digits "%l)

enter the number 456
3 digits

In [55]:
x=int(input("enter the number "))
x=abs(x)
i = 0
while x >= 10**i:
    i +=1
    
print("%d digits " %i)

enter the number 456
3 digits

QUES 9

In [69]:
n=int(input("Enter the number "))
if n>2:
    for i in range(2,n):
        if n%i == 0:
            print("%d is not a prime num" %n)
            break
        else:
            print("%d is a prime num"%n)
            break
else:
    print("%d is a prime num"%n)

Enter the number 1
1 is a prime num

QUES 10

In [17]:
inp = int(input("enter no. "))
summ = 0
for i in range(1,inp+1):
    if i%3==0 or i%5==0:
        summ += i
        print(i,end=' +')
        

print('\n =',summ)

enter no. 17
3 +5 +6 +9 +10 +12 +15 +
 = 60

QUES 11

In [20]:
n = int(input("enter no. "))
opt = input("choose sum or product -")
summ = 0
prod = 1
if opt == "sum":
    for i in range(1,n+1):
        summ += i
        
    print(summ)
if opt == "product":
    for i in range(1,n+1):
        prod = prod*i
        
    print(prod)

enter no. 5
choose sum or product -product
120

QUES 12

In [21]:
summ = 0
for i in range(1,10001):
    if i%3==0 or i%5==0:
        summ += i
        
print("sum of all multiples of 3 and 5 till 1000 is ",summ)

sum of all multiples of 3 and 5 till 1000 is  23341668

QUES 13

In [58]:
summ = 0
for i in range(2000,3201):
    if i%7==0 and i%5 != 0:
        summ += i
        print(i)
    
print("sum of multiples of 7 but not 5 is ",summ)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199
sum of multiples of 7 but not 5 is  358631

QUES 14

In [26]:
sum1=0
for i in range(1,101):
    sum1 = sum1 + (i*i)
print("sum of squares ",sum1)

sum2=0
for i in range(1,101):
    sum2 += i
    
print("square of sum ",sum2)

print("difference is ", sum1-sum2)

sum of squares  338350
square of sum  5050
difference is  333300

QUES 15

In [57]:
count=0
total=0
avg=0
n=int(input("enter no. "))
while type(n)==int:
    n=int(input("enter no. "))
    count+=1
    total = total+n
    
try:
    print(" ")
except ValueError:
    print('number entered %d times , sum is %d and avg is %d '%count %total %(total//count))

enter no. 7
enter no. 5
enter no. 4
enter no. l

ValueError: invalid literal for int() with base 10: 'l'

QUES 16

In [37]:
n = int(input("enter no. "))
for i in range(1,n+1):
    f = 0
    for j in range(2,(i//2)+1):
        if i%j == 0:
            f = 1
            break
    if f==0:
        print(i)

enter no. 10
1
2
3
5
7

QUES 17

In [58]:
n = int(input("enter no. "))
fact = 1
for i in range(n,1,-1):
    fact = fact*i
print(fact)

enter no. 7
5040

QUES 18

In [1]:
n = int(input("enter no. "))
a=1
b=0
for _ in range(n):
    print(a)
    b, a=a,b+a

enter no. 10
1
1
2
3
5
8
13
21
34
55

QUES 19

In [15]:
x = int(input("enter 1st no. "))
y = int(input("enter 2nd no. "))
greater = max(x,y)

while(True):
    if((greater % x == 0) and (greater % y == 0)):
        lcm = greater
        break
    greater += 1

print('LCM is ',lcm)

enter 1st no. 5
enter 2nd no. 3
LCM is  15

QUES 20

In [16]:
n = int(input("enter a no. "))

for i in range(1,n+1):
    if n%i==0:
        print(i)

enter a no. 10
1
2
5
10

QUES 21

In [32]:
for i in range(6):
    a="*"*i
    print(a)

*
**
***
****
*****

In [25]:
for i in range(6):
    a="*"*(6-i)
    print(a)

******
*****
****
***
**
*

In [30]:
for i in range(1,6):
    a=("%d "%i)*i
    print(a)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [36]:
n=5
for i in range(n):
    print("  "*(n-i-1) +"* "*(i+1) + "* "*i)

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [40]:
a=1
for i in range(1,6):
    for j in range(i):
        print(a, end=" ")
        a+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [41]:
a=65
for i in range(1,6):
    for j in range(i):
        print(chr(a), end = " ")
        a+=1
    print()

A
B C
D E F
G H I J
K L M N O

QUES 22

In [42]:
a = int(input("enter no. "))
sum = a + (a*10)+a +((a*100)+(a*10)+a) + ((a*1000)+(a*100)+(a*10)+a)
print("sum is ", sum)

enter no. 9
sum is  11106